* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20vh;
  text-align: center;
  background-color: #eee;
  font-size: 60px;
  letter-spacing: 6px;
}

.container {
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: cadetblue;
  max-width: 600px;
  font-family: arial;
  color: #ddd;
}

button {
  padding: 10px;
  margin: 20px;
  width: 150px;
  border: 2px solid #555;
  color: #555;
  font-size: 22px;
  font-family: arial;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #999;
}
